*,*:before,*:after{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Hind', sans-serif;
}
.wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.2rem;
    font-weight: 700;
}
h5{
    font-size: 0.8rem;
    text-transform: uppercase;
}
p {
    font-size: 1rem;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-transform {
    text-transform: uppercase;
}
.padding {
    padding: 3rem 0;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.cursor-pointer {
    cursor: pointer;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2.1fr);
}


