// HEADER-1

.header-section {
    background:$backgroundPrimary;
} 
.bold_span {
    font-size: 3rem;
    font-weight: 700;
    color: $white;
}
.regular_span {
    font-size: 2rem;
    margin: 0;
    color: #333;
}
h5 {
    color: #5b7a9a;
    letter-spacing:0.2rem;
    font-weight: 600;
    text-shadow: 2;
}
hr {
    width: 90%;
}
.i-class {
    color: #4d6171;
    font-weight: 400;
    font-family: 'Hind', sans-serif;
    margin-left: 2rem;
    color: $white;
}
.fas{
    padding-left: 0.3rem;
}
.links{
    color:$titleText;
    text-decoration: none;
    letter-spacing: 0.05rem;
}
a{
    text-decoration: none;
    color: #5b7a9a;
}
.dropdown-arrow {
    color: $white;
    font-size: 0.7rem;
}
.links:hover {
    color: $redPrimary;
}
.fixed-link {
    color: $redPrimary;
    font-weight: 600;
}
.list {
    display: inline-block;
    margin-left: 2rem;
}
.header-icons{
    font-size: 1rem;
    font-weight: 100;
}
.icon-text{
    color: #4d6171;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}
.white-text{
    color: $white;
}
// FORM
.search {
    outline: none;
    padding: 1rem 5rem;
    font-size: 0.8rem;
    border: none;
    letter-spacing: 2px;
}
.btn-form {
    color: #fff;
    border: none;
    padding: 7px 0px;
    text-transform: uppercase;
    text-decoration: none;
    background: #ec1c24;
    width: 35px;
    height: 45px;
    border-radius: 5px;
}
.btn-form:hover{
    cursor: pointer;
}
.form{
    padding-right: 3rem;
}
// COLLECTIONS
h2{
    color:#333333;
    font-size: 2.5rem;
    font-family: 'Hind', sans-serif;
    padding: 85px 0;
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
  }
  .shop-page{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-gap: 0;
      .messanger{
          color:black;
      }
      .price{
          color: $redPrimary;
          .line{
              text-decoration: line-through;
              color: #4b4646;
          }
      }
      .i-star{
          color: #beb7b7;
          padding: 10px 0 15px 0;
      }
      
  }
  
  @media all and (max-width:768px){
      .shop-page{
          grid-template-columns: 1fr;
      }
  }
  .wrapper{
    //   background: $paraText;
  }
  img{
      width: 100%;
      height: auto;
      padding: 30px;
  }
  .bags-title{
      text-align: center;
      border: 10px solid white;
  }
  .messanger{
      color: $titleText;
      text-decoration: none;
      font-weight: 600;
  }
  .rule{
      color: $titleText;
      width: 90%;
  }
  .color-white{
      background: $white;
      
  }
  .pagination{
      margin: 3rem 0;
      padding-left: 0.6rem;
  }
  .page{
      border: .5px solid rgb(224, 217, 217);
      font-size: 0.9rem;
      padding: 0.7rem;
      text-decoration: none;
      color: #333333;
      margin-right: 10px;
      border-radius: .2rem;
  }
  .page:hover{
      color: rgb(156, 156, 243);
      background:  rgb(204, 204, 214);
  }
  