.grid-box1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
.img {
    width: 100%;
    height: auto;
}

.bag {
    width: 100%;
    height: auto;
}
.new-heading {
    font-size: 1.3rem;
    font-weight: 300;
    color: $titleText;
    padding-top: 5rem;
    padding-bottom: 2rem;
}
.para1 {
    color: $paraText;
    margin-left: 0.5rem;
}
.offer {
    text-decoration: line-through;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.mail {
    font-size: 1.3rem;
    box-shadow: 2px 2px 10px 3px whitesmoke;
}
.btn {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: $white;
    background-color: skyblue;
    margin-bottom: 1rem;
   border-radius: 0.3rem;
}
.login {
    color: $paraText;
    
}
.wishlist {
    padding:1rem 0 1.5rem 0;
}
.standard {
    color: $paraText;
}
.product {
    color: $paraText;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 1rem 0;
}

.icon {
    text-decoration: none;
    margin-left: 1rem;
}
.fb, .bird, .g-plus {
    text-decoration: none;
    font-size: 1.5rem;   
}
// =======================
// section2
// =======================
.discription {
    color: $titleText;
    padding: 5rem 0 3rem 0;
}
.lorem1 {
    font-size: 1rem;
    font-weight: 300;
    color: $paraText;
    padding-bottom: 3rem;
}
.lorem2 {
    font-size: 1rem;
    font-weight: 300;
    color: $paraText;
    padding-bottom: 3rem;   
}
.feature {
    color: $titleText;
    font-size: 2rem;
    font-weight: 600;
}
.new-price {
    color: $redPrimary;
}
.variety {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}
.class {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 1rem;
}
hr {
    margin-bottom: 1rem;
    width: 70%;
    color: $titleText;
}